.div-central {
    word-break: break-word;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }

  .botao-blog {
    position: absolute;
    left: -50%;
    width: 150%;
    padding-right: 12px;
  }

  .col-esquerda {
    position: relative;
  }