$font-size-root: 14px;
$primary_color: #323469;
$secondary_color:#ff9b23;
$dark_gray: #889aa4;
$light_gray: #eee;
$body-font-family	: 'Work Sans', sans-serif;
$title-font     : 'Josefin Sans', sans-serif;
$subtitle-font: 'Montserrat', sans-serif;;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@100;200&family=Work+Sans:wght@300&display=swap');
