* {
    font-family: $title-font, sans-serif !important;
    font-weight: 900;
    word-break: break-word;
}
.titulo {
    color: $secondary_color !important; 
}

@media not all and (max-width: 400px) {
    #card_login {
        top: 300px;
    }
   }

.v-input__control{
    min-height: 10px !important;
  }